In [1]:
import pandas as pd
import numpy as np

In [2]:
sample_data = pd.read_csv('Resources/Data/46_May.csv')
#sample_data = sample_data.dropna(how="any")

In [3]:
sample_data.head()

,Date,Unknown,Message,Code,Parameter_from,Parameter_to
0,1/5/18 0:04,2,Button Change: NORMAL is to OFF,257,0.0,NaN
1,1/5/18 0:04,2,Button Change: SAMPLE is to ON,261,1.0,NaN
2,1/5/18 0:04,1,Work Data Change: Wire Length is from 1255 to ...,257,1255.0,1705.0
3,1/5/18 0:05,2,Button Change: NORMAL is to ON,257,1.0,NaN
4,1/5/18 0:05,2,Button Change: SAMPLE is to OFF,261,0.0,NaN

In [ ]:
# function to extract only cities from location column
def split_record(info):
    ret_val = info.split(":")[1]
    return ret_val

In [4]:
sample_data[['Message','description']] = sample_data['Message'].str.split(':',n =1, expand=True)

In [5]:
sample_data.head()

,Date,Unknown,Message,Code,Parameter_from,Parameter_to,description
0,1/5/18 0:04,2,Button Change,257,0.0,NaN,NORMAL is to OFF
1,1/5/18 0:04,2,Button Change,261,1.0,NaN,SAMPLE is to ON
2,1/5/18 0:04,1,Work Data Change,257,1255.0,1705.0,Wire Length is from 1255 to 1705
3,1/5/18 0:05,2,Button Change,257,1.0,NaN,NORMAL is to ON
4,1/5/18 0:05,2,Button Change,261,0.0,NaN,SAMPLE is to OFF

In [ ]:
sample_data["Description"] = sample_data[3].map(split_record)

In [ ]:
sample_data.head()

In [7]:
imp_col = sample_data[["Code","Parameter_from", "description", "Message"]].reset_index()

In [ ]:
type(imp_col)

In [8]:
imp_col.head()

,index,Code,Parameter_from,description,Message
0,0,257,0.0,NORMAL is to OFF,Button Change
1,1,261,1.0,SAMPLE is to ON,Button Change
2,2,257,1255.0,Wire Length is from 1255 to 1705,Work Data Change
3,3,257,1.0,NORMAL is to ON,Button Change
4,4,261,0.0,SAMPLE is to OFF,Button Change

In [10]:
imp_col_filtered = imp_col.loc[imp_col["Message"].str.contains("Error", regex=False)]
imp_col_filtered.head()

,index,Code,Parameter_from,description,Message
13,13,114,1.0,Feed roller is opened is Occurred,Error Message
15,15,114,0.0,Feed roller is opened is Cancel,Error Message
19,19,70,1.0,Stop before the waster eject is Occurred,Error Message
22,22,70,0.0,Stop before the waster eject is Cancel,Error Message
23,23,114,1.0,Feed roller is opened is Occurred,Error Message

In [13]:
final_df = imp_col_filtered.loc[imp_col_filtered["Parameter_from"] == 1.0]
final_df.head()

,index,Code,Parameter_from,description,Message
13,13,114,1.0,Feed roller is opened is Occurred,Error Message
19,19,70,1.0,Stop before the waster eject is Occurred,Error Message
23,23,114,1.0,Feed roller is opened is Occurred,Error Message
66,66,41,1.0,Defect detection: Side1 miss-strip is Occurred,Error Message
67,67,48,1.0,Defect detection: Side 1 seal miss-insert is ...,Error Message